<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658177490660-30ina4v1j3l4783tms6k8ur4ajvp3iss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658177490660-30ina4v1j3l4783tms6k8ur4ajvp3iss</string>
	<key>API_KEY</key>
	<string>AIzaSyBDVNiXmUJDvNBCxU2f3hBNAU4nAuLnz4o</string>
	<key>GCM_SENDER_ID</key>
	<string>658177490660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoAppRoute</string>
	<key>PROJECT_ID</key>
	<string>todo-route-a5f0a</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-route-a5f0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658177490660:ios:2e1451ece53ab3df1c76f1</string>
</dict>
</plist>